@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.overflow-div::-webkit-scrollbar {
    width: 0px;
    background-color: gainsboro;
    height: 5px;
    cursor: pointer;
    border-radius: 20px;

}
.overflowPro {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
.overflowPro::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.overflow-div2::-webkit-scrollbar {
    width: 0px;
    background-color: #44403c;
    height: 5px;
    cursor: pointer;
    border-radius: 20px;
}
.scroll-target {
    scroll-margin-top: 30px;
    position: relative;
}
.addShadow{
    box-shadow: 1px 1px 8px rgb(212, 210, 210); 
}
.addShadow2{
    box-shadow: 1px 1px 8px #292524;
border: 1px solid #292524;
}
.test{
    background-color:black;
}
.spin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all;
    animation: spin 2s ease-out 0.2s infinite normal forwards;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform: translate(-50%, -50%)
    }
    100% {
transform: rotate(360deg);
transform: translate(-50%, -50%)
    }
}
.spin2 {
    transition: all;
    animation: spin2 0.5s ease-out 0.2s 1 normal forwards;
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
transform: rotate(360deg);
    }
}

.added{
        top: 150px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}

.overflow-div::-webkit-scrollbar-thumb {
    background-color: rgb(71, 31, 8);
    border-radius: 20px;
    cursor: pointer;
}
.overflow-div2::-webkit-scrollbar-thumb {
    background-color: rgb(71, 31, 8);
    border-radius: 20px;
    cursor: pointer;
}

/* Add your desired color to the background property */

.yellowblur{
    background-color: rgba(243, 117, 7, 0.3);
}

@media screen and (max-width: 1024px) {
    .home {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: auto;
    }
   

    .home::before {
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
      
        position: fixed;
        content: '';
        z-index: 11;
    }
}



.blurred-div {
    width: 300px;
    height: 200px;
    background-color: #3498db;
    /* Set background color as needed */
    color: #fff;
    /* Set text color as needed */
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    /* Apply backdrop filter for blurring */
    backdrop-filter: blur(8px);
    /* Fallback for browsers that do not support backdrop-filter */
    /* background-color: rgba(52, 152, 219, 0.5);
    /* Adjust alpha value for transparency */
}


.blurred-div:hover {
    transform: scale(1.1);
}
.hero{
    position: relative;  
}
.hero::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    z-index: 7;
}

.blurr {
    position: relative;
    /* border: 3px solid rgba(133, 77, 13); */
    /* text-shadow: 3px 3px 1px gray; */
}


.blurr:hover {

    cursor: pointer;
}

.blurr::before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;
    
}

.blurr1 {
    position: relative;
    border: 3px solid rgba(133, 77, 13);
}

.blurr1:hover {

    cursor: pointer;
}

.blurr1::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.blurr2 {
    position: relative;
    border: 3px solid rgba(133, 77, 13);

}

.blurr2:hover {
    cursor: pointer;
}

.blurr2::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.blurr3 {
    position: relative;
    border: 3px solid rgba(133, 77, 13);
}

.blurr3:hover {
    cursor: pointer;
}

.blurr3::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}



@media screen and (min-width:1024px) {
    .menu {
        top: 104px;
    }
}

.cart:focus {
    color: white;
}

.background {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.background::before {
   
    z-index: 30;
    content: "";
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;

}

.p-home {
    width: 100%;
    height: 100%;
    position: fixed;
   
}

.p-home::before {
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 11;
    content: "";
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;


}

.popout {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






@media screen and (max-width:640px) {
    .allpopout{
        top: -70px;
        left: 50%;
        transform: translate(-50%);
        z-index: 30;
       
}
    .popout1 {
        top: 0;
        left: 50%;
        z-index: 8;
        opacity: 0.9;
        transition: all;
        transform: translate(-50%);
        animation: spin 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin {
        0% {
            transform: translate(-50%);


        }

        80% {
            transform: translate(-50%, 120px);
        }

        100% {
            transform: translate(-50%, 100px);

        }
    }

    .popout3 {
        top: 0;
        left: 50%;
        z-index: 8;
        opacity: 0.9;
        transition: all;
        transform: translate(-50%);
        animation: spin3 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin3 {
        0% {
            transform: translate(-50%,
                    100px);


        }



        100% {
            transform: translate(-50%);

        }
    }
    .added{
        top: 150px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}
}

@media screen and (min-width:640px) {
    .popout1 {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
        transition: all;
        animation: spin 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin {
        0% {
            transform: translate(-50%);



        }

        80% {
            transform: translate(-50%, 140px);
        }

        100% {
            transform: translate(-50%, 130px);


        }
    }

    .popout3 {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
        transition: all;
        animation: spin3 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin3 {
        0% {
            transform: translate(-50%, 130px);

        }
        100% {
            transform: translate(-50%, 0px);
        }
    }
    .added{
        top: 170px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}
.allpopout{
        top: -70px;
        left: 50%;
      transform: translate(-50%);
        z-index: 50;
        
}
}
@media screen and (max-width: 1020px) {
    .hero2{
        position: relative;  
    }
    .hero2::before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        z-index: 7;
    }
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* Header section */

/* header{
    width: 100%; 
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
} */
.landHeader{
    z-index: 1000;  
    
}
/* header nav a{
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
} */

/* a.active{
    background: #14ff72cb;
    border-radius: 2px;
}

a:hover{
    background: #14ff72cb;
    border-radius: 2px;
} */

/* Header section */



/* carousel */

.carousel{
    width: 100%;
    height: 100vh;
    /* margin-top: -50px; */
    overflow: hidden;
    position: relative;
    top: 0;
}
/* .carousel.next .list .item .content .title{
    animation: animate3 1s ease-in-out 2s 1 forwards;
}
.carousel.next .list .item .content .name{
    animation: animate3 1s ease-in-out 2s 1 forwards;
}
.carousel.next .list .item .content .des{
    animation: animate3 1s ease-in-out 2s 1 forwards;
} */
.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
    z-index: 100;
    transition:all 1s ease-in-out;  
}
.carousel .list .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%; 
    position: absolute;
}
.carousel .list .item:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); 
     
}

.carousel .list .item:nth-child(2){
    left: 67%;
    border-radius: 20px; 
    animation: animate2 1s ease-in-out 5.5s 1 forwards;
    overflow: hidden;
    transition:all 1s ease-in-out;  
   
}
/* .carousel .list .item.prev:nth-child(2){
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        position: absolute;
        width: 100%;
        height: 100%; 
        animation: animate4 1s ease-in-out 0s 1 forwards;
        transition:all 1s ease-in-out;    
} */

@keyframes animate2 {
    to{    top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
 
    }
}
@keyframes animate4 {
    from{
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        position: absolute;
        width: 100%;
        height: 100%;  
        
    }
    to{  
        left: 67%;
        width: 180px;
        height: 250px;
        position: absolute;
        top: 80%;
        transform: translateY(-70%);
    
    }

}

.carousel .list .item:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
     
}
.carousel .list.prev .item:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); 
     
}
 

.carousel .list .item:nth-child(3){
    left: calc(67% + 200px);
    border-radius: 20px;    
    transition:all 3s linear;
    /* animation: animate4 1s ease-in-out 1s 1 forwards; */
}

.carousel .list .item:nth-child(3) .slider-img{
   
    border-radius: 20px;
    
}
.carousel .list .item:nth-child(3)::before {
    content: "";
    position: absolute;
    inset: 0;
   
    backdrop-filter: blur(1px); /* Glass effect */
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px;
}
.carousel .list .item:nth-child(4){
    left: calc(67% + 400px);
    border-radius: 20px;  
    transition:all 1s ease-in-out;
    /* animation: animate4 1s ease-in-out 1s 1 forwards; */
}
.carousel .list .item:nth-child(4) .slider-img{
    border-radius: 20px;
   
}
.carousel .list .item:nth-child(4)::before {
    content: "";
    position: absolute;
    inset: 0;
    
    backdrop-filter: blur(1px); /* Glass effect */
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px; /* Slight rounded corners */
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 600px);
    border-radius: 20px;
    transition:all 1s ease-in-out;
    /* animation: animate4 1s ease-in-out 1s 1 forwards; */
   
}
.carousel .list .item:nth-child(5) .slider-img{
    border-radius: 20px;
   
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 800px);  
    border-radius: 20px; 
    transition:all 1s ease-in-out;
    /* animation: animate4 1s ease-in-out 1s 1 forwards; */
}
.carousel .list .item:nth-child(6) .slider-img{
    border-radius: 20px; 
}
.carousel .list .item:nth-child(n+7){
    left: calc(67% + 1000px);
    transition:all 1s ease-in-out;
    /* animation: animate4 1s ease-in-out 1s 1 forwards; */
    opacity: 0; 
}
.carousel .list .item:nth-child(n+7) .slider-img{
    border-radius: 20px;
    opacity: 0;
   
}
.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 50%;
    text-align: left;
    color: #fff;
    opacity: 0;
    
}
.list .item:nth-child(1) .content{
    /* display: block; */
    opacity: 1;
    /* animation: animate3 1s ease-in-out 2s 1 forwards; */
}
.list .item:nth-child(2) .content{
    /* display: block; */
    opacity: 0;
    /* animation: animate3 1s ease-in-out 7s 1 forwards; */
}
@keyframes animate3 {
    
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.content .title{
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    color: rgb(71, 31, 8);
    opacity: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
    font-family: 'Times New Roman', Times, serif;
}

.content .btn{
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.content .btn button:nth-child(1){
    margin-right: 15px;
    background-color:  rgb(71, 31, 8);
    transition: 0.3s;
}


.content .btn button:nth-child(1):hover{
    background-color:  rgb(71, 31, 8);
    color: #fff;
}


@keyframes animate { 
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */






/* next prev arrows */

.arrows{
    position: absolute;
    top: 80%;
    /* right: 30%; */
    left: 50%;
    transform: translatex(-50%);
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: white;
   
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee4;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: rgb(71, 31, 8);
    color: white;
}


/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color:  transparent;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


/* Responsive Design */

@media screen and (max-width: 999px){
    
    /* header{
        padding-left: 50px;
    } */
    @keyframes animate4 {
    
        from{
            top: 0;
            left: 0;
            transform: translate(0, 0);
            border-radius: 0;
            position: absolute;
            width: 100%;
            height: 100%; }
        to{  
            left: 67%;
            width: 180px;
            height: 250px;
            position: absolute;
            top: 80%;
            transform: translateY(-70%);
        
        }
    
    }
    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 70px;
    }

    .content .des{
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

}

@media screen and (max-width: 690px){
    /* header nav a{
        font-size: 14px;
        margin-right: 0;
    } */
    @keyframes animate4 {
    
        from{
            top: 0;
            left: 0;
            transform: translate(0, 0);
            border-radius: 0;
            position: absolute;
            width: 100%;
            height: 100%; }
        to{  
            left: 40%;
            width: 140px;
            height: 200px;
            position: absolute;
            top: 80%;
            transform: translateY(-50%);
        
        }
    
    }
    .arrows{
        position: absolute;
        top: 75%;
        left: 20%;
        

    }
    .list .item .content{
        top: 35%;
        left: 20px;
        width: 80%;
    }

    .content .title, .content .name{
        font-size: 45px;
    }
    .content .des{
        font-size: 14px;
        font-family:'Times New Roman', Times, serif;
    }

    .content .btn button{
        padding: 10px 15px;
        font-size: 14px;
    }
    .carousel .list .item{
        width: 140px;
        height: 200px;
        position: absolute;
        top: 75%;
        transform: translateY(-50%);
        left: 50%;
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
        background-position: center;
        background-size: cover;
        z-index: 100;
        transition: 1s;
        
       
       
    }
.carousel .list .item:nth-child(2){
        left: 40%;
        border-radius: 20px; 
        animation: animate2 1s ease-in-out 6s 1 forwards;
        overflow: hidden;
    }
    @keyframes animate2 {
        
        from{ left: 40%;
            border-radius: 20px; }
        to{    top: 0;
            left: 0;
            transform: translate(0, 0);
            border-radius: 0;
            width: 100%;
            height: 100%;}
    
    }
    .carousel .list .item:nth-child(3){
        left: calc(40% + 150px);   
    }

    .carousel .list .item:nth-child(4){
        left: calc(40% + 300px);
    }
    .carousel .list .item:nth-child(4) .slider-img{
        border-radius: 20px;
       
    }
    .carousel .list .item:nth-child(4)::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3); /* Dark overlay */
        backdrop-filter: blur(1px); /* Glass effect */
        -webkit-backdrop-filter: blur(1px);
        border-radius: 20px; /* Slight rounded corners */
    }
    
    .carousel .list .item:nth-child(5){
        left: calc(50% + 300px);
        border-radius: 20px;
       
    }
    .carousel .list .item:nth-child(5) .slider-img{
        border-radius: 20px;
       
    }
    
    .carousel .list .item:nth-child(6){
        left: calc(50% + 600px);  
        border-radius: 20px; 
    }
    .carousel .list .item:nth-child(6) .slider-img{
        border-radius: 20px; 
    }
    .carousel .list .item:nth-child(n+7){
        left: calc(50% + 800px);
        opacity: 0; 
    }
    .carousel .list .item:nth-child(n+7) .slider-img{
        border-radius: 20px;
        opacity: 0;
       
    }
    
    
}
.slider-img {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  
  .carousel .list .item.nextpic{
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    /* animation: animate2 1s ease-in-out 0.6s 1 forwards; */
    /* animation: animate2 1s ease-in-out 0.6s 1 forwards; */
}
  .carousel .list .item.current{
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    /* animation: animate2 1s ease-in-out 0.6s 1 forwards; */
    /* animation: animate2 1s ease-in-out 0.6s 1 forwards; */
}
  .carousel .list .item.nextpic .content{
   display: block;
    
    /* animation: animate2 1s ease-in-out 0.6s 1 forwards; */
}
.demoColor{
    background-color: rgb(71, 31, 8);
    /* background-color: rgb(97, 48, 21); */
}
