.overflow-div::-webkit-scrollbar {
    width: 0px;
    background-color: gainsboro;
    height: 5px;
    display: none;


}

.added{
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}

.overflow-div::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}

/* Add your desired color to the background property */



@media screen and (max-width: 1024px) {
    .home {
        width: 100%;
        height: 100%;
        position: fixed;



    }

    .home::before {
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        content: '';
        z-index: 11;

    }
}



.blurred-div {
    width: 300px;
    height: 200px;
    background-color: #3498db;
    /* Set background color as needed */
    color: #fff;
    /* Set text color as needed */
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    /* Apply backdrop filter for blurring */
    backdrop-filter: blur(8px);
    /* Fallback for browsers that do not support backdrop-filter */
    /* background-color: rgba(52, 152, 219, 0.5);
    /* Adjust alpha value for transparency */
}


.blurred-div:hover {
    transform: scale(1.1);
}

.blurr {
    position: relative;
}

.blurr:hover {
    outline: 3px solid rgba(133, 77, 13, 1);

    cursor: pointer;
}

.blurr::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.blurr1 {
    position: relative;
}

.blurr1:hover {
    outline: 3px solid rgba(133, 77, 13, 1);

    cursor: pointer;
}

.blurr1::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.blurr2 {
    position: relative;

}

.blurr2:hover {
    outline: 3px solid rgba(133, 77, 13, 1);
    cursor: pointer;
}

.blurr2::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.blurr3 {
    position: relative;
}

.blurr3:hover {
    outline: 3px solid rgba(133, 77, 13);
    cursor: pointer;
}

.blurr3::before:active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    content: '';
    z-index: 7;

    opacity: 0;
    transition: opacity 0.3s ease;
}



@media screen and (min-width:1024px) {
    .menu {
        top: 104px;
    }
}

.cart:focus {
    color: white;
}

.background {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.background::before {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    content: "";
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;

}

.p-home {
    
    width: 100%;
    height: 100%;
    position: fixed;
   
}

.p-home::before {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    content: "";
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;


}

.popout {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






@media screen and (max-width:640px) {
    .allpopout{
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
}
    .popout1 {
        top: 0;
        left: 50%;
        z-index: 8;
        opacity: 0.9;
        transition: all;
        transform: translate(-50%);
        animation: spin 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin {
        0% {
            transform: translate(-50%);


        }

        80% {
            transform: translate(-50%, 120px);
        }

        100% {
            transform: translate(-50%, 100px);

        }
    }

    .popout3 {
        top: 0;
        left: 50%;
        z-index: 8;
        opacity: 0.9;
        transition: all;
        transform: translate(-50%);
        animation: spin3 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin3 {
        0% {
            transform: translate(-50%,
                    100px);


        }



        100% {
            transform: translate(-50%);

        }
    }
    .added{
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}
}

@media screen and (min-width:640px) {
    .popout1 {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
        transition: all;
        animation: spin 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin {
        0% {
            transform: translate(-50%);



        }

        80% {
            transform: translate(-50%, 140px);
        }

        100% {
            transform: translate(-50%, 130px);


        }
    }

    .popout3 {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
        transition: all;
        animation: spin3 1s ease-out 0.2s 1 normal forwards;
    }

    @keyframes spin3 {
        0% {
            transform: translate(-50%, 130px);




        }


        100% {
            transform: translate(-50%, 0px);


        }
    }
    .added{
        top: 130px;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
}
.allpopout{
        top: 0;
        left: 50%;
      transform: translate(-50%);
        z-index: 8;
        opacity: 0.9;
}
}