.overflow-div {
    display: flex;
    overflow-x: auto;
    gap: 20px;

}

.overflow-div::-webkit-scrollbar {
    display: none;

}

.overflow-div::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background-color: black;
}

/*.home::-webkit-scrollbar {
    width: 2px;
}*/